<div class="row-fluid">
    <div class="span12">
        <div class="titleBox">
            <h1 class="huge">Mejores Fotografias</h1>
        </div>
    </div>
</div>
<!-- / row-fluid -->


<div class="row-fluid">
    <div class="span12">
        <div class="lineBox right">
            <div class="inner">
                <a href="/index" class="btn metaIcon" data-toggle="tooltip" title="Home"><span class="entypo home"><i></i>Home</span></a>
                <a href="#" class="btn btn-icon left btn-primary"><span class="entypo vcard"><i></i></span> Más Valoradas</a>
            </div>
        </div>
    </div>
</div>
<!-- / row-fluid -->

<div class="row-fluid">
    <div class="span12">
        <ul class="portfolioList col4" id="portfolio1">
        <% @photo.each do |photo| %> 
        <% usuario = User.find_by(photo.id_usuario) %>
            <li data-id="1" >
                <div class="easyBox">
                    <a href="#"><%= image_tag "fotos/#{photo.id_fotografia}.jpg" %></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i><%= usuario.nombre_usuario %> <%= usuario.apellido_paterno %></i></span></a>
                        <h3 class="light"><a href="#"><%= photo.titulo_fotografia%></a></h3>
                        <p><%= photo.descripcion_fotografia %></p>
                    </div>
                </div>
            </li>
        <% end %>
        </ul>
    </div>
</div>
<!-- /row-fluid -->


<div class="message"> 
  <p></p> 
</div> 
