<% if session[:current_user_id]
     user = User.find(session[:current_user_id]) %>
    <div class="row-fluid">
        <div class="span12">
            <div class="titleBox">
                <h1 class="huge"><%=user.nombre_usuario %> <%= user.apellido_paterno %></h1>
            </div>
        </div>
    </div>
    <!-- / row-fluid -->


    <div class="row-fluid">
        <div class="span12">
            <div class="lineBox right">
                <div class="inner">
                    <a href="/index" class="btn metaIcon" data-toggle="tooltip" title="Home"><span class="entypo home"><i></i>Home</span></a>
                    <a href="#" class="btn btn-icon left btn-primary"><span class="entypo vcard"><i></i></span> Mi perfil</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <h3>Fotografias </h3>
            <ul class="portfolioList col1" id="portfolio1">
            <% @photo.each do |photo| %> 
                <li data-id="1" >
                    <div class="easyBox">
                        <a href="#"><%= image_tag "fotos/#{photo.id_fotografia}.jpg" %></a>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="span6">
            <% @phot.each do |photo| %> 
                <div class="easyBox">
                    <a href="#"><%= image_tag "fotos/#{photo.id_fotografia}.jpg" %></a>
                </div>
            <% end %>
        </div>
        <div class="span3">
            <h3>Amigos</h3>
            <ul class="portfolioList col1" id="portfolio1">
            <% @amigos.each do |amigo| %>
            <% usuario = User.find(amigo.id_usuario_amigo)%> 
            <li data-id="1" >
                <div class="easyBox">
                    <a href="#"><%= image_tag "usuarios/#{amigo.id_usuario_amigo}.png" %></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i><%= usuario.nombre_usuario %> <%= usuario.apellido_paterno %> <%= usuario.apellido_materno %></i></span></a>
                        <h3 class="light"><a href="#"><%= usuario.nombre_acceso%></a></h3>
                    </div>
                </div>
            </li>
            <% end %>
            </ul>
        </div>
    </div>
    <!-- /row-fluid -->
<% else %>    
    <h3>ERROR: Debe iniciar sesión.</h3>
<% end %>  