<!DOCTYPE html>
<html>
<head>
  <title>Photolog</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'variant#{session[:current_user_fondo]}' %>
</head>
<body>
	<div id="boxedWrapper">

		<div class="navbar navbar-static-top">
		    <div class="navbar-inner">
		        <div class="container">
		            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="brand" href="#">PhotoLog</a>
		            <% if session[:current_user_id] %>
		            <div class="nav-collapse">
		                <ul class="nav pull-left">
	                     	<li>
	                    		<a href="/index" >Perfil</a>
                    		</li>
                    		<li>
	                    	<a href="friends">Amigos</a>
                    		</li>
		                    <li>
		                        <a href="best">Mejores Photos</a>
		                    </li>
		                    <li >
		                        <a href="/users">Usuarios</a>
		                    </li>
		                    <li>
		                        <a href="/config">Configuración</a>  
	                        </li>
	                    	<li>
		                        <a href="/salir">Salir</a>
		                    </li>
		                </ul>
		            </div>
		            <ul class="menuIcon pull-right">
		                <li data-filter="filter-3"><a href="/photo/new" class="btn metaIcon" data-toggle="tooltip" title="Subir Photo"><span class="entypo camera"><i></i>Subir Photo</span></a></li>
		            </ul>
		            <% else %>
		            <div class="nav-collapse">
		                <ul class="nav pull-left">
		                    <li>
		                        <a href="best">Mejores Photos</a>
		                    </li>
		                    <li >
		                        <a href="/users">Usuarios</a>
		                    </li>
		                    <li>
		                        <%= link_to "Registrarse", user_new_path %> 
	                        </li>
	                    	<li>
		                       <a href="/ingresar">Ingresar</a>
		                    </li>
		                </ul>
		            </div>
		            <% end %>
		            <!-- / nav-collapse -->
		        </div>
		    </div>
		</div>

		<!-- main container -->
		<div class="container">
			<% if session[:current_user_letra] %>
				<font face="#{session[:current_user_letra]}"></font>
					<%= yield %>
				</font>	
			<% else %>
				<%= yield %>
			<% end %>	
		</div>

		<div id="footer">
		    <div class="container">
		        <div class="row-fluid">
		            <div class="span6">
		                <h4 class="medium">Acerca de Photolog</h4>
		                <p align="justify">
		                    Photolog es un proyecto creado en función de lo solicitado por el equipo de profesores que dirigen el curso de diseño de base de datos (1S-2015), en la Universidad de Santiago de Chile. 
		                </p>
		            </div>
		            <div class="span2">
		            </div>	
		            <div class="span4">
		                <h4 class="medium"> Profesores </h4>
		                	<p>Catedra:Carolina Bonacic.
		                	<br>Laboratorio: Fabián Arismendi.</p>
		            </div>
		        </div>
		    </div>

		    <div class="footNotes">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span4">
		                    <p><a href="#">Photolog</a></p>
		                </div>
		                <div class="span4">
		                    <p>Ulloa - Cerda - Villagra</p>
		                </div>
		                <div class="span4 doRight">
		                    <p>© 2015 Todos los derechos Reservados </p>
		                </div>
		            </div>
		            <!-- / row-fluid -->
		        </div>
		    </div>
		    <!-- / footNotes -->
		</div>
		<!-- / footer -->
		<a href="#" id="toTop" class="entypo up-open"><i></i> Back to top</a>
	</div>
	<!-- / boxedWrapper -->

	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.contenthover.min.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>



